.topspin-row { overflow: hidden; }
.topspin-row .topspin-wrapper { float: left; min-width: 300px; border: 1px solid #dcdcdc; padding: 10px; margin: 5px; -webkit-border-radius: 4px; -moz-border-radius: 4px; }

